<nav class="navbar">
    <ul class="menu">

        <li><a href="#">Home</a></li>

        <!-- About -->
        <li>
            <a href="#">About Us</a>
            <ul class="submenu">
                <li><a href="#">Award And Accolade</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Organisational Hierarchy</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Annual Report</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Archive</a></li>
            </ul>
        </li>

        <!-- Schools -->
        <li>
            <a href="#">Schools</a>
            <ul class="submenu">
                <li><a href="#">School Of Applied & Interdisciplinary Sciences</a></li>
                <li><a href="#">School of Biological Sciences</a></li>
                <li><a href="#">School of Chemical Sciences</a></li>
                <li><a href="#">School of Materials Sciences</a></li>
                <li><a href="#">School of Mathematical & Computational Sciences</a></li>
                <li><a href="#">School of Physical Sciences</a></li>
                <li><a href="#">Director's Research Unit</a></li>
            </ul>
        </li>

        <!-- Resource -->
        <li>
            <a href="#">Resource</a>

            <ul class="submenu">

                <li><a href="#">Library</a></li>
                <li><a href="#">Centre for Computer Research</a></li>
                <li><a href="#">Indian Journal of Physics</a></li>

                <!-- CREW -->
                <li class="has-children">
                    <a href="#">CREW</a>

                    <ul class="subsubmenu">
                        <li><a href="#">Civil Engineering Section</a></li>
                        <li><a href="#">Electrical & Electronics Engineering Section</a></li>
                        <li><a href="#">Workshop and Online Job Card Portal</a></li>
                    </ul>
                </li>

                <li><a href="#">CSS</a></li>
                <li><a href="#">DST OM/GOVT CIRCULARS</a></li>
                <li><a href="#">Seminar Hall Booking</a></li>

                <!-- Guest House -->
                <li class="has-children">
                    <a href="#">Guest House</a>

                    <ul class="subsubmenu">
                        <li><a href="#">Rules & Regulations</a></li>
                        <li><a href="#">Guest House Booking</a></li>
                        <li><a href="#">M N Saha Guest House</a></li>
                        <li><a href="#">Asutosh Mookerjee Guest House</a></li>
                    </ul>
                </li>

                <li><a href="#">Oracle ERP Manual</a></li>
                <li><a href="#">Creche</a></li>
                <li><a href="#">Digital Repository</a></li>

            </ul>
        </li>

        <!-- Academics -->
        <li>
            <a href="#">Academics</a>

            <ul class="submenu">

                <li><a href="#">PhD Application</a></li>

                <li class="has-children">
                    <a href="#">Academic Program</a>

                    <ul class="subsubmenu">
                        <li><a href="#">PhD Coursework</a></li>
                        <li><a href="#">PhD Regulations</a></li>
                        <li><a href="#">Admission 2026</a></li>
                        <li><a href="#">Academic Calendar</a></li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Events</a>

                    <ul class="subsubmenu">
                        <li><a href="#">Conference / Workshop</a></li>
                        <li><a href="#">Seminars</a></li>
                        <li><a href="#">Summer School</a></li>
                        <li><a href="#">Endowment Lecture</a></li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Collaboration</a>

                    <ul class="subsubmenu">
                        <li><a href="#">Collaborative Research</a></li>
                        <li><a href="#">IACS-APCTP</a></li>
                        <li><a href="#">IACS-TWAS</a></li>
                    </ul>
                </li>

                <li><a href="#">University Management System</a></li>
                <li><a href="#">Academic Council</a></li>
                <li><a href="#">Fees Structure</a></li>

            </ul>
        </li>

        <li><a href="#">Administration</a>
            <ul class="submenu">
                <li> <a href="#">Governing Counsil </a></li>
                <li> <a href="#">Director</a> </li>
                <li> <a href="#">Deans</a> </li>
                <li> <a href="#">Registrar</a> </li>
                <li> <a href="#">Various Administrative Committees</a> </li>
                <li> <a href="#">Online Ordering, Requisition & Employee Self Portal</a></li>
                <li> <a href="#">Dispatch Docketing System</a> </li>
                <li> <a href="#">Attendance Approval System </a> </li>

            </ul>


        </li>
        <li><a href="#">People</a>
            <ul class="submenu">
                <li> <a href="#">Faculty </a></li>
                <li class="has-children"> <a href="#">Student</a>
                    <ul class="subsubmenu">
                        <li><a href="#">Student Ombudsman</a></li>
                        <li><a href="#">BS-MS</a></li>
                        <li><a href="#">Master's</a></li>
                        <li><a href="#">PhD</a></li>
                        <li><a href="#">RA and Others</a></li>
                    </ul>

                </li>
                <li> <a href="#">Other Academic Members at IACS</a> </li>
                <li class="has-children"> <a href="#">Staff</a> 
                    <ul class="subsubmenu">
                        <li><a href="#">Technical</a></li>
                        <li><a href="#">Administrative</a></li>
                        <li><a href="#">Auxillary</a></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </li>

            </ul>
        </li>
        <li><a href="#">Outreach</a>
            <ul class="submenu">
                <li> <a href="#">National Science Day </a></li>
                <li> <a href="#"> Academic Visit </a> </li>
                <li> <a href="#">Indian Physical Society</a> </li>
                <li> <a href="#">Notices & Memo's</a> </li>
                <li> <a href="#">Recent News</a> </li>
                <li> <a href="#">Holiday list 2026</a></li>
                <li class="has-children"> <a href="#">Guest House Booking</a> 
                    <ul class="subsubmenu">
                        <li><a href="#">IACS Guest Houses' Rules and Regulations</a></li>
                        <li><a href="#">M N Saha Guest House</a></li>
                        <li><a href="#">Asutosh Mookerjee Guest House</a></li>
                       
                    </ul>
                
                </li>
                <li> <a href="#"> Alumni  </a> </li>
                <li> <a href="#">Pensioners' Corner </a> </li> 
            </ul>
        </li>
        <li><a href="#">Activity Center</a>
            <ul class="submenu">
                <li class="has-children"> <a href="#">Staff </a>
                    <ul class="subsubmenu">
                    <li> <a href="#">Guidelines on Public self-Disclosure by Higher Education Institutions, 2024</a>
                    </ul>
                </li>
                <li> <a href="#"> Student's Corner  </a> </li>
                <li> <a href="#">General Body Members</a> </li>
                <li> <a href="#">Niharika IACS Astronomy & Astrophysics Club Website</a> </li>
        </li>
        <li><a href="#">Research</a></li>
        <li><a href="#">e-Gov</a></li>

    </ul>
</nav>