
.project-modal{


position:fixed;

inset:0;


background:

rgba(0,0,0,.8);


display:none;


align-items:center;

justify-content:center;


z-index:2000;


}



.project-modal.active{


display:flex;


}



.modal-content{


width:90%;

max-width:600px;


background:#111827;


padding:40px;


border-radius:20px;


border:

1px solid rgba(255,255,255,.2);


}



.close-modal{


float:right;


font-size:30px;


cursor:pointer;


color:#00e5ff;


}
